body {
  padding: 3%;
  font-family: "monotype-modern-display", sans-serif;
  font-variation-settings: "width" 60, "weight" 00;
  background-color: rgb(230, 255, 230);
}
img {
    border: 5px solid;
    padding: 10px;
    margin: auto;
    width: 40%;
    height:auto;
}
iframe {
    border: 5px solid;
    padding: 10px;
    margin: auto;
    width: 40%;
    aspect-ratio: 16 / 9;
}
center {
    display: block;
    text-align: -webkit-center;
    unicode-bidi: isolate;
}
