body {
  margin: 2em;
  padding: 0;
  font-family: "monotype-modern-display", sans-serif;
  font-variation-settings: "width" 60, "weight" 00;
  background-color: rgb(230, 255, 230);
}
img {
    border: 5px solid;
    padding: 10px;
    margin: auto;
    width: 30%;
    height:auto;
}
iframe {
    border: 5px solid;
    padding: 10px;
    margin: auto;
    width: 30%;
}
p {
    max-width: 70%;
}
center {
    display: block;
    text-align: -webkit-center;
    unicode-bidi: isolate;
}
